SUPABASE_URL=https://djhwwmigbvgnwmcomsqx.supabase.co
SUPABASE_ANON_KEY=sb_publishable_eFDw4TGzFF8iZwW2q3OzVg_3WxGc7qh
DATABASE_URL=postgresql://postgres:[123456789JONTAMOLI]@db.djhwwmigbvgnwmcomsqx.supabase.co:5432/postgres
